<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--复制文件-->
    <add key="CopyFromPath" value="C:\Tems\Changeset#{0}"/>
    <add key="CopyToPath" value="C:\Tems\Changeset#{0}"/>
    <!--Java-->
    <add key="OldZipFromPath" value="C:\Tems\Changeset#{0}\{1}\Source\{2}"/>
    <add key="OldZipToPath" value="C:\Tems\Changeset#{0}\{1}\Source"/>
    <add key="NewZipFromPath" value="D:\Teams\Publish\java\{0}"/>
    <!--新包解压后临时路径 和压缩输入路径一样-->
    <add key="NewZipToPath" value="D:\AppData\{0}"/>
    <!--压缩包发布路径-->
    <add key="PublicPath" value="C:\Tems\Changeset#{0}\{1}\Source\{2}"/>
    <!--Silverlight-->
    <add key="OldSLXmlPath" value="C:\Tems\{0}\TradingConsoleSL\ClientBin\{1}\StringLibrary.{2}.xml"/>
    <add key="NewSLXmlPath" value="D:\Teams\Publish\TradingConsoleSL\ClientBin\{0}\StringLibrary.{1}.xml"/>
    <add key="SLCombinXmlPath" value="C:\Tems\{0}\TradingConsoleSL\ClientBin\{1}\StringLibrary.{2}.xml"/>
    <!--压缩-->
    <add key="CompressInputPath" value="D:\AppData\{0}"/>
    <add key="CompressOutPutPath" value="C:\Tems\Changeset#{0}\{1}\Source\{2}"/>
    
    <add key="CompanyList" value="ACMTrader;Eng,CHS,CHT,JPN|AG;Eng,CHS,CHT|BHI;Eng,CHS,CHT,JPN|Boxim;Eng,CHS,CHT,JPN|Capitec;Eng,CHS,CHT|China Gold;Eng,CHS,CHT|Chungs;Eng,CHS,CHT|Cygse Trader;Eng,CHS,CHT|Do3;Eng,CHS,CHT|ECT;Eng,CHS,CHT|ForeverRich;Eng,CHS,CHT|
              GBI;Eng,CHS,CHT|GBTrader;Eng,CHS,CHT|GEG Trader;Eng,CHS,CHT|GLI;Eng,CHS,CHT|Golden Capital;Eng,CHS,CHT|GoldenConcept;Eng,CHS,CHT|Goldex HK;Eng,CHS,CHT|GTrader;Eng,CHS,CHT|HereFordFX;Eng,CHS,CHT|IPL Trader;Eng,CHS,CHT|
              JAB;Eng,CHS,CHT|JAB Trader;Eng,CHS,CHT|JF;Eng,CHS,CHT|Joy Profit;Eng,CHS,CHT|JTB;Eng,CHS,CHT|Kaiser;Eng,CHS,CHT|LuckyStar;Eng,CHS,CHT|Man Loong;Eng,CHS,CHT|Mark;Eng,CHS,CHT|MarkMP2;Eng,CHS,CHT|MarkMP3;Eng,CHS,CHT|Max Rich;Eng,CHS,CHT|
              NVTstation;Eng,CHS,CHT|Omnicare;Eng,CHS,CHT|Pacific Index;Eng,CHS,CHT|PeaceTown;Eng,CHS,CHT|Rustenbury;Eng,CHS,CHT|S688;Eng,CHS,CHT|SinoHK-TPM;Eng,CHS,CHT|SinoHK-wp4JTrader;Eng,CHS,CHT|SinoHK-wp5WI Trader;Eng,CHS,CHT|
              Standard Bullion;Eng,CHS,CHT|UNI;Eng,CHS,CHT|VII;Eng,CHS,CHT|Waldorf;Eng,CHS,CHT|WealthBlooming;Eng,CHS,CHT|Well Team Trader;Eng,CHS,CHT|YauSeng"/>
  </appSettings>
</configuration>